/*---------------- Google font family ----------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');

/*---------------------- utility/common style ------------------*/
body {
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
    background: #1E1E1E;
}

header,
main,
footer {
    display: flex;
    justify-content: center;
}

.container {
    width: 1600px;
    max-width: 100%;
    background: #FFFFFF;
}

/*----------------------- Header start ------------------*/
.container.cover-background {
    display: flex;
    justify-content: center;

}

.cover {
    width: 85%;
    height: 646px;
    background: #161616;
    border-radius: 30px;
    margin-top: 48px;
    margin-bottom: 125px;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.cover-detail {
    color: #FFFFFF;
    width: 45%;
}

/*-------------- Header animation start -------------- */
@keyframes sliding {

    from {
        color: #06ce06;
        padding-left: 0px;
    }

    to {
        color: #ff8c00;
        padding-left: 50px;
    }
}

.cover-detail h1 {
    font-weight: 700;
    font-size: 70px;
    margin: 0;
    line-height: 80px;
    animation: sliding 5s ease-in-out 0.5s 2 alternate;
    animation-play-state: running;
}

/*-------------- Header animation end -------------- */

.cover-detail p {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.cover-detail button {
    width: 187px;
    height: 56px;
    background-image: linear-gradient(#09ed09, #022e02);
    border-radius: 5px;
    border: 0;
}

.cover-detail button a {
    font-size: 20px;
    color: #FFFFFF;
    text-decoration: none;
}

.fa-greater-than {
    margin-left: 10px;
}

.cover-image {
    height: 96%;
    width: 45%;
    margin-top: 26px;
}

.cover-image img {
    height: 100%;
    width: 100%;
}

/*---------------------- Header End  ---------------*/

/*------------------- main start ------------------*/
.main-part {
    display: flex;
    justify-content: center;
    column-gap: 24px;
    margin-bottom: 130px;
}

.options {
    background: #161616;
    border-radius: 10px;
    width: 312px;
    height: 312px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 30px;
}

.options button {
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    border: 0;
}

.options button a {
    text-decoration: none;
    color: #161616;
    font-weight: 500;
    font-size: 20px;
}

.options .match-option {
    background-image: linear-gradient(#09ed09, #022e02);
}

.options .match-option a {
    color: #FFFFFF;
}

/* <!-------------------- Matches start ----------------> */
.matches {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.match {
    width: 312px;
    height: 242px;
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.match-detail {
    margin-top: 53px;
}

.match-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.match-banner span {
    font-weight: 700;
    font-size: 16px;
}

.match-info h3 {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
}

.match-info p {
    text-align: center;
    color: #4D4D4D;
    font-weight: 400;
    font-size: 16px;
    margin: 0;
}

/* < !---------------------- Main End ----------------------> */

/* < !---------------------- Footer Start ----------------------> */
.black-part {
    background-color: #161616;
    height: 444px;
}

.container.black-part h2 {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 40px;
    margin: 0;
    text-align: center;
    padding-top: 120px;
}

.container.black-part hr {
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 90%;
    margin-top: 50px;
}

.about-us {
    text-align: center;
    margin-top: 50px;
}

.about-us a {
    text-decoration: none;
    color: #B9B9B9;
    margin-right: 45px;
}

.contact-logo {
    column-gap: 26px;
    display: flex;
    justify-content: center;
    margin-top: 35px;
}

.contact-logo a {
    color: #FFFFFF;
    height: 60px;
    width: 60px;
    background: #2a274e;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
}

/*---------------------- Media query start  -------------------*/

/*----------------------- Mobile view  -------------------*/

@media only screen and (max-width:767px) {

    /*---------------- Header start  --------------*/
    .cover {
        flex-direction: column;
        height: 472px;
        margin-top: 44px;
        margin-bottom: 0;
    }

    .cover-detail {
        width: 258px;
        height: 178px;
        text-align: center;
        margin-top: 28px;
    }

    .cover-detail h1 {
        font-size: 22px;
        line-height: 33px;
    }

    .cover-detail p {
        font-size: 14px;
        line-height: 24px;
        height: 48px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 8px;
        margin-bottom: 16px;
    }

    .cover-detail button {
        height: 40px;
        width: 161px;
    }

    .cover-image {
        width: 233px;
        height: 245px;
        margin-top: 21px;
        margin-left: 5%;
    }

    /*------------------- Main start  ---------------*/
    .main-part {
        flex-direction: column;
        align-items: center;
        margin-bottom: 0px;
    }

    .options {
        background: #FFFFFF;
        width: 210px;
        height: 176px;
        margin: 24px 0px;
        row-gap: 16px;
    }

    .options button {
        width: 160px;
        height: 48px;
        border: 1px solid #E8E8E8;
    }

    .options .match-option {
        width: 210px;
    }

    .matches {
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 16px;
        margin-bottom: 24px;
    }

    /*------------------------ Footer strat  ----------------------*/
    .black-part {
        height: 412px;
    }

    .container.black-part h2 {
        padding: 24px 0px;
        font-size: 24px;
    }

    .container.black-part hr {
        margin-top: 0;
        margin-bottom: 24px;
    }

    .about-us {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .about-us a {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    .contact-logo {
        margin-top: 15px;
    }

    .contact-logo a {
        font-size: 25px;
        height: 40px;
        width: 40px;
        border-radius: 20px;
    }
}

/*----------------------- Tab view  -------------------*/

@media only screen and (min-width: 768px) and (max-width: 992px) {

    /*---------------- Header start  --------------*/
    .cover {
        height: 398px;
        column-gap: 10px;
        margin-bottom: 70px;
    }

    .cover-detail {
        width: 40%;
        padding-left: 50px;
    }

    .cover-detail h1 {
        font-size: 40px;
        line-height: 50px;
    }

    .cover-detail p {
        font-size: 14px;
        line-height: 24px;
        height: 48px;
        white-space: pre;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .cover-detail button {
        width: 161px;
        height: 48px;
    }

    .cover-image {
        width: 323px;
        height: 340px;
        margin-top: 58px;
    }

    /*------------------- Main start  ---------------*/
    .main-part {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
        margin-bottom: 64px;
    }

    .options {
        width: 100%;
        height: 100%;
        background: #FFFFFF;
        flex-direction: row;
        column-gap: 22px;
    }

    .options button {
        width: 230px;
        height: 64px;
        border: 1px solid #E8E8E8;
    }

    /*------------------------ Matches  -----------------------*/
    .matches {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 20px;
    }

    /*------------------------ Footer strat  ----------------------*/
    .black-part {
        height: 400px;
    }

    .container.black-part h2 {
        padding-top: 70px;
    }

    .container.black-part hr {
        margin-top: 30px;
    }

    .about-us {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 75px;
        row-gap: 15px;
        margin-top: 30px;
    }

    .about-us a {
        margin-right: 0px;
    }
}